body {
  background-color: #6998AB;
  text-align: center;
  font-family: 'Mukta', sans-serif;
  color: #fff;
}


h2 {
  font-family: 'PT Sans', sans-serif;
  padding:5%;
}

.player {
font-size: 1rem;
color: #F5F5F5;
font-family: 'Indie Flower', cursive;
text-align: center;
display: inline-block;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

img {
  width: 50%;
}
