body {
  margin: 0;
  text-align: center;
  font-family: 'Handlee', cursive;
}

h1 {
  font-family: 'Roboto', sans-serif;
  FONT-SIZE: 70PX;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  color: grey;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 30px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.skill-row-tester {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.skill-row-developer {
  margin: 100px auto 100px auto;
  width: 35%;
  text-align: right;
}

p {
    line-height: 2;
}

a {
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.skills-image-tester {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.skills-image-developer {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.my-image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  display: inline-block;
  background-color: #66BFBF;
  width: 100%;
  padding: 50px 0 20px;
}

.COPYRIGHT {
  color: #EAF6F6;
  padding-top: 30px;
  font-size: 0.75rem;
}

.intro {
width: 30%;
margin: auto;
padding-bottom:40px;
}

.footer-link {
  margin-right: 100px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  top: 250px;
}
